@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
  scroll-behavior: smooth;
  }

body{
  margin:0;
}

/*header*/
header{
  position: relative;
  text-align: center;
  color: #2f616d;
  margin:0%;
}

/*placering af tekst oven på billedet*/
.top-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: open Sans;
  text-transform:uppercase;
  letter-spacing: 2px;
}

h2{
  color:#2f616d;
  font-size: 30px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;

}

/*om mig sectionen*/
.mig{
  background-color: #b2dbd5;
}

.portræt{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  filter: grayscale(100%);
  border-radius: 25%;
  width:150px;
}


.profil {
  padding-top: 6%;
  padding-bottom: 6%;
}

p{
  color:#2f616d;
  font-size: 14px;
  font-family: open Sans;
  letter-spacing: 2px;
  line-height: 22px;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.btn-cv{
  background-color: #f2b90c;
  color: #2f616d;
  font-size: 16px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 10%;
  padding:14px 20px;
  border-radius: 4px;
  text-decoration:underline #f2b90c;
}

.btn {
  background-color: #f2b90c;
  color: #2f616d;
  font-size: 16px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 12%;
  padding:14px 20px;
  border-radius: 4px;
  text-decoration:underline #f2b90c;
}

/*nav-bar*/

.navbar{
  position: sticky;
  top:0;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #e6eaec;
  z-index: 2;
  
}
.navbar ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 14px;
}  

a{
  color:#2f616d;
  width:100%;
  font-family: open Sans;
  text-decoration:underline #e6eaec;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4{
  font-size: 40px;
  font-family: open Sans;
  color:#f2b90c;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:10px 10px;
  display: flex;
  justify-content:center;

}

li{
  color:#2f616d;
  font-size: 14px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/*portfolio-sectionen*/
.portfolio{
  background-color: #e6eaec;
  padding-top: 6%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e6eaec;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom:100px;
  }
  
  .item{
    position: relative;
  }

.item img{
  border-radius: 4px;
  width:290px;
  height:230px;
}

.text-block {
  height:60px;
  width:60px;
  margin-top:-48px;
  margin-left:75%;
  color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b2dbd5;
  border-radius: 4px;
}

.item:hover .overlay {
  opacity: 0.9;
}

.text {
  color: #2f616d;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

  /*kontakt sectionen*/
  
  .kontakt{
    background-color: #b2dbd5;
    padding-top: 6%;
  }
  .kontakt-links ul{
    background-color: #b2dbd5;
    list-style: none;
  }
 
  @media screen {min-width: 768;
    
    

  }