@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
  scroll-behavior: smooth;
  }

body{
  margin:0;
}

/*header*/
header{
  position: relative;
  text-align: center;
  color: #2f616d;
  margin:0%;
}

/*placering af tekst oven på billedet*/
.top-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: open Sans;
  text-transform:uppercase;
  letter-spacing: 2px;
}

h2{
  color:#2f616d;
  font-size: 30px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;

}

/*om mig sectionen*/
.mig{
  background-color: #b2dbd5;
}

.portræt{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  filter: grayscale(100%);
  border-radius: 20%;
  width:150px;
}


.om-mig {
  padding-top: 6%;
  padding-bottom: 6%;
}

p{
  color:#2f616d;
  font-size: 14px;
  font-family: open Sans;
  letter-spacing: 2px;
  line-height: 22px;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.btn{
  background-color: #f2b90c;
  color: #2f616d;
  font-size: 16px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding:14px 14px;
  margin:50%;
  border-radius: 4px;
  text-decoration:underline #f2b90c;
}


/*nav-bar*/

.navbar{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #e6eaec;
}
.navbar ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 14px;
}  

a{
  color:#2f616d;
  font-family: open Sans;
  text-decoration:underline #e6eaec;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4{
  font-size: 40px;
  font-family: open Sans;
  color:#f2b90c;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:10px 10px;
  display: flex;
  justify-content:center;

}

li{
  color:#2f616d;
  font-size: 14px;
  font-family: open Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/*portfolio-sectionen*/
.portfolio{
  background-color: #e6eaec;
  padding-top: 6%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e6eaec;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom:100px;
  }
  
.item img{
  border-radius: 4px;
  width:260px;
  height:200px;
  
}

.text-block {
  height:60px;
  width:60px;
  margin-top:-60px;
  margin-left:75%;
  color: #000;
}

.item:hover {
  opacity: 0.3;
}

  /*kontakt sectionen*/
  
  .kontakt{
    background-color: #b2dbd5;
    padding-top: 6%;
  }
  .kontakt-links ul{
    background-color: #b2dbd5;
    list-style: none;
  }
 